<h1>Hello! I'm Reagan.</h1>
<p>
  I'm a software engineer in Arlington, VA with a lot of side projects. I'm
  passionate about web development, digital accessibility, and creativity. I
  currently work as a Senior Software Engineer at Capital One, and I recently
  formed my own LLC (<a target="_blank" href="https://linktr.ee/IfThenCreate"
    >IfThenCreate</a
  >) for my independent projects and freelancing work. I graduated from Carnegie
  Mellon University in 2017 with a major in Psychology and a minor in Computer
  Science.
</p>
<div class="links">
  <a target="_blank" href="https://github.com/reaganhenke"
    ><img src="assets/links/github.png" alt />
    <div class="hidden-label">github</div></a
  >
  <a target="_blank" href="https://codepen.io/ifthencreate"
    ><img src="assets/links/codepen.png" alt />
    <div class="hidden-label">codepen</div></a
  >
  <a target="_blank" href="https://tiktok.com/@ifthencreate"
    ><img src="assets/links/tiktok.png" alt />
    <div class="hidden-label">tiktok</div></a
  >
  <a target="_blank" href="https://instagram.com/ifthencreate"
    ><img src="assets/links/instagram.png" alt />
    <div class="hidden-label">instagram</div></a
  >
</div>
