.dark-section {
  position: relative;
}

.jobs {
  display: flex;
  flex-wrap: wrap;
}

.job {
  width: calc(50% - 1rem);
  margin-right: 1rem;
}

ul {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.resume {
  position: absolute;
  right: 1rem;
  top: 2rem;
  color: #e3e3e3;
  font-size: 0.75rem;
  img {
    margin-right: 8px;
    width: 14px;
  }
}

@media screen and (max-width: 800px) {
  .job {
    width: 100%;
    margin: 1rem 0;
  }
}
