<section class="dark-section">
  <h2>Experience</h2>
  <div class="jobs">
    <div class="job">
      <h3>Senior Software Engineer</h3>
      <h4>Capital One (2017 - present)</h4>
      <p>Currently, I work for Capital One as a senior software engineer.</p>
      <ul>
        <li>Resolved multiple security critical bugs on Ease Web</li>
        <li>
          Designed and implemented a new testing service in Angular for all web
          teams
        </li>
        <li>
          Piloted and onboarded team to new automated testing tools (Applitools
          and Evinced)
        </li>
        <li>Led independent teams on hackathons and bug bashes</li>
      </ul>
    </div>
    <div class="job">
      <h3>IfThenCreate</h3>
      <h4>IfThenCreate LLC (2023-present)</h4>
      <p>
        In 2023, I registered my own LLC to manage my freelance work and social
        media profiles. I share many of my side projects online and talk about
        code, tech, and games.
      </p>
      <ul>
        <li>
          Google(2023) - I was commissioned by the Angular Team at Google to
          create the default playground code game in their new
          <a target="_blank" href="https://angular.dev/playground/"
            >angular.dev</a
          >
          site
        </li>
      </ul>
    </div>
    <div class="job">
      <h3>Software Engineer Intern</h3>
      <h4>Best Nomos Medical (Summer 2016)</h4>
      <p>
        I was a summer intern for Best Nomos Medical International in
        Pittsburgh, PA. I debugged software for radiation oncology and wrote
        tests for the new release. I also worked on the test database and bug
        reporting system.
      </p>
    </div>
    <div class="job">
      <h3>Teaching Assistant</h3>
      <h4>CMU Psychology Department (2016)</h4>
      <p>
        I worked as a teaching assistant for a research methods course at
        Carnegie Mellon. I helped teams create their research projects and
        software for running their experiments in Python and EPrime. I also
        compiled and analyzed class data.
      </p>
    </div>
  </div>
</section>
