<section class="dark-section">
  <h2>Projects</h2>
  <div class="project">
    <div>
      <h3>Tensorflow Rock, Paper, Scissors (2024)</h3>
      <p>
        This Angular site uses tensorflow.js, a library for machine learning in
        Javascript to play Rock, Paper, Scissors. Video from the webcam is
        passed to a pre-trained image recognition model that detects a hand and
        returns 21 landmark keypoints indicating its position. The computer can
        then play Rock, Paper, Scissors with varying levels of "intelligence".
      </p>
      <p>
        The site is currently live at
        <a target="_blank" href="https://tensorflowrockpaperscissors.web.app/"
          >tensorflowrockpaperscissors.web.app</a
        >. Code is available on
        <a
          target="_blank"
          href="https://github.com/reaganhenke/rockpaperscissors"
          >Github</a
        >.
      </p>
    </div>
    <img
      src="assets/projects/tensorflowscreenshot.png"
      alt="Tensorflow Rocky Paper Scissors screenshot"
    />
  </div>
  <div class="project">
    <div>
      <h3>I Miss My Cafe (2021 - present)</h3>
      <p>
        Inspired by sites like IMissTheOffice, IMissMyBar, and Coffitivity, I
        teamed up with sound designer
        <a target="_blank" href="https://www.evancook.audio/">evan cook</a> and
        made a site with a coffee shop ambience for working from home. The site
        has Spotify integration, volume controls, and custom components.
      </p>
      <p>
        IMissMyCafe has gone viral a handful of times, and has had over 2
        million visitors from all around the world!
      </p>
      <p>
        The site is currently live at
        <a target="_blank" href="https://imissmycafe.com/">IMissMyCafe.com</a>.
      </p>
    </div>
    <img
      src="assets/projects/imissmycafe.png"
      alt="I Miss My Cafe screenshot"
    />
  </div>
  <div class="project">
    <div>
      <h3>Pie Puzzles (2020)</h3>
      <p>
        I started an Etsy shop in lockdown. I baked pies and had them printed on
        small puzzles and pins. This has been really fun project that allowed me
        to stay connected and share my baking with friends in quarantine. I've
        also done a few raffles and been able to raise money for causes I care
        about!
      </p>
    </div>
    <img src="assets/projects/ifthencreate.png" alt="Etsy Shop screenshot" />
  </div>
  <div class="project">
    <div>
      <h3>Ministry of Truth (2017)</h3>
      <p>
        I developed Ministry of Truth as part of Capital One's Developer Academy
        (CODA) program. Inspired by 1984, Ministry of Truth pushes you to censor
        as many news articles as possible, while trying to make enough money to
        keep your family warm and fed.
      </p>
      <p>
        Deployed at
        <a target="_blank" href="http://ministryoftruth.surge.sh/"
          >ministryoftruth.surge.sh</a
        >.
      </p>
    </div>
    <img
      src="assets/projects/ministryoftruth.png"
      alt="Ministry of Truth screenshot"
    />
  </div>
  <div class="project">
    <div>
      <h3>SpamBot (2016)</h3>
      <p>
        SpamBot is a Google Sheets add-on I wrote to get responses to Google
        Forms more efficiently. It parses the responses so far and sends timed
        email reminders to people it's still waiting on. SpamBot has a full user
        interface, allowing for customizable email content, timing, and
        respondant lists.
      </p>
      <p>SpamBot is no longer maintained or available to download.</p>
    </div>
    <img src="assets/projects/spambot_demo.png" alt="Spam Bot screenshot" />
  </div>
  <div class="project">
    <div>
      <h3>8Bit Campus (2016)</h3>
      <p>
        8Bit Campus is a game I wrote using Python and Pygame, inspired by my
        time at college and a cappella competitions. I created all code, pixel
        art, sprites, and background music. It functions as an RPG like Pokemon,
        but on a college campus. Instead of battling, players can have
        "sing-off" style fights with other characters by hitting the right
        notes.
      </p>
      <p>
        You can find the demo code on my
        <a target="_blank" href="https://github.com/reaganhenke/8Bit-Campus"
          >GitHub</a
        >, and watch the demo in action on
        <a target="_blank" href="https://www.youtube.com/watch?v=OoftmZGZqFw"
          >Youtube</a
        >.
      </p>
    </div>
    <video controls loop [muted]="'muted'" alt="8 Bit Campus Demo">
      <source src="assets/projects/8bitclips.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="project">
    <div>
      <h3>Markov String Quartet Generator (2016)</h3>
      <p>
        At Carnegie Mellon, I studied composition and computational techniques,
        as well as information systems and processing in real time environments.
        My final project was a Markov String Quartet Generator that was
        controlled by a TouchOSC app.
      </p>
      <p>
        You can watch a demo on
        <a target="_blank" href="https://youtu.be/Dr5jtUAfFxc">YouTube</a>.
      </p>
    </div>
    <video controls loop [muted]="'muted'" alt="Markoc String Quartet Demo">
      <source src="assets/projects/musicclips.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="project">
    <div>
      <h3>KnitWit (2014)</h3>
      <p>
        I studied Python at Carnegie Mellon as part of my Fundamentals of
        Programming class. My final project was a 2D array based program that
        could be used to design sweater knitting patterns.
      </p>
      <p>
        You can watch a demo on
        <a target="_blank" href="https://www.youtube.com/watch?v=jTIaIkjy08Y"
          >YouTube</a
        >.
      </p>
    </div>
    <video controls loop [muted]="'muted'" alt="Knit Wit Demo">
      <source src="assets/projects/knitclips.mp4" type="video/mp4" />
    </video>
  </div>
</section>
